:root {
  --accent-color: rgb(237, 20, 31);
  --grey-section-color: rgb(242, 242, 242);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.navlink {
  background-color: rgba(255, 255, 255, 0.662);
  padding: 5px 94px;
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.3s;
}

.responsive {
  display: none;
}

.sticky {
  box-shadow: 0 0 30px 20px rgba(144, 144, 144, 0.105);
  backdrop-filter: blur(5px);
}

nav ul li {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 30px;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 3px;
  height: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: 0.3s;
  border-radius: 100px;
}

nav ul li a:hover:after {
  opacity: 1;
}

.logo img {
  width: 90px;
  cursor: pointer;
}
.logo-garuda {
  width: 70px; 
  height: auto;
}

.join {
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--accent-color);
  padding: 10px 25px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 300;
  font-size: 16px;
}

.join:hover {
  background-color: rgb(194, 0, 0);
}

.navlink .fa {
  display: none;
}

.fa-bars,
.fa-times {
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.2s;
}

.fa-bars:hover {
  color: rgb(194, 0, 0);
}

.header {
  width: 100%;
  height: 100vh;
}

.header-row {
  transform: translateY(56px);
  width: 85%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.header-row-left h1 {
  font-weight: 300;
  font-size: 50px;
  color: var(--accent-color);
  margin-bottom: 20px;
  width: 80%;
  line-height: 65px;
}

.header-row-left p {
  width: 80%;
  color: rgb(130, 130, 130);
  font-size: 18px;
  line-height: 25px;
}

.header-row-left .header-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}

.header-row-left .header-icons i {
  font-size: 25px;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.header-row-left .header-icons i:hover {
  background-color: rgb(194, 0, 0);
}

.header-row-right {
  align-self: flex-end;
}

.header-row-right img {
  float: inline-end;
}
/* header end */

/* about start */
.about {
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding-top: 100px;
}

.about-flex {
  display: flex;
  margin: auto;
  width: 70%;
}

.about-flex-left {
  padding-bottom: 70px;
}

.about-flex-left h1 {
  font-weight: 300;
  font-size: 60px;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.about-flex-left p {
  color: rgb(130, 130, 130);
  width: 85%;
  font-size: 16px;
  text-align: justify;
  line-height: 23px;
  margin-bottom: 16px;
}

.about-flex-right {
  align-self: flex-end;
}

.about-flex-right img {
   width: 100%;
    max-width: 320px;
    height: auto;
    margin: 20px auto 0;
    display: block;
}
/* about end */

/* events start */
.events {
  width: 100%;
  padding-bottom: 70px;
}

.events-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.events-container h1 {
  font-weight: 300;
  font-size: 60px;
  color: var(--accent-color);
  margin-top: 70px;
}

table {
  margin-top: 40px;
  border-collapse: collapse;
  width: 85%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: var(--accent-color);
  color: #fff;
}

th {
  font-weight: 300;
  font-size: 20px;
}

table tbody tr:nth-of-type(even) {
  background-color: rgb(238, 238, 238);
}

th,
td {
  padding: 20px 10px;
}

td {
  padding: 30px 30px;
}

tr:nth-of-type(4) {
  border-bottom: 3px solid var(--accent-color);
}
/* events end */

/* members start */

.members {
  width: 100%;
  padding-bottom: 70px;
  background-color: rgb(242, 242, 242);
}

.members-wrapper {
  margin: auto;
  width: 85%;
}

.members-info {
  text-align: center;
}

.members-info h1 {
  font-weight: 300;
  font-size: 60px;
  color: var(--accent-color);
  padding-top: 70px;
}

.members-info p {
  font-size: 14px;
  color: rgb(130, 130, 130);
  margin-bottom: 50px;
}

.button-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-button {
  border: 1px solid var(--accent-color);
  outline: none;
  color: var(--accent-color);
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-button:hover {
  color: #fff;
  background-color: var(--accent-color);
}

.tab-button:active {
  color: #fff;
  background-color: var(--accent-color);
}

.tab-button-active {
  color: #fff;
  background-color: var(--accent-color);
}

.members-profile {
  display: none;
}

.members-profile-active {
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 7px;
  width: 20%;
  padding: 45px;
}

.profile-wrapper img {
  border: 2px solid var(--accent-color);
  padding: 7px;
  width: 100px;
  border-radius: 100%;
}

.profile-wrapper h3 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
}

.profile-wrapper .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile-wrapper i {
  font-size: 18px;
  color: var(--accent-color);
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.profile-wrapper i:hover {
  background-color: var(--accent-color);
  color: #fff;
}
/* members end */

/* bts start */
.bts {
  margin-top: 60px;
  width: 100%;
  padding-bottom: 80px;
}

.bts-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bts-container h1 {
  font-weight: 300;
  font-size: 60px;
  color: var(--accent-color);
}

.bts-container p {
  margin-bottom: 50px;
}

.bts-container video {
  width: 80%;
}
/* bts end */

/* message start */

.message {
  background-color: var(--grey-section-color);
}
.message-text {
  width: 85%;
  margin: auto;
  text-align: center;
}

.message-text h1 {
  color: var(--accent-color);
  font-weight: 300;
  font-size: 60px;
  padding-top: 70px;
}

.message-text p {
  margin-bottom: 40px;
}

.message-flex {
  width: 95%;
  margin: auto;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.message-form {
  width: 100%;
  border-radius: 10px;
  padding: 30px;
}

.message-input {
  margin-bottom: 20px;
}

.message-input h4 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
}

.message-input input,
.message-input textarea {
  border: 1px solid rgb(130, 130, 130);
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 15px;
  resize: none;
  width: 100%;
  transition: 0.2s;
}

.message-input textarea {
  height: 90px;
}

.message-input input:focus,
.message-input textarea:focus {
  border-color: var(--accent-color);
}

.message-img {
  align-self: flex-end;
}

.message-img img {
  width: 600px;
  float: inline-end;
}

.submit {
  border: none;
  width: 100%;
  outline: none;
  color: #fff;
  background-color: var(--accent-color);
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 300;
  font-size: 16px;
}

.submit:hover {
  background-color: rgb(194, 0, 0);
}

/* message end */

footer {
  background-color: var(--accent-color);
  padding: 0 10%;
  width: 100%;
  height: 80px;
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Mobile Devices */
@media screen and (max-width: 480px) {

  /* NAVBAR */
  .navlink {
    padding: 10px 5%;
    z-index: 10;
  }

  .navlink ul li,
  .navlink .join,
  .navlink .fa-times {
    display: none;
  }

  .navlink .fa-bars {
    display: block;
    font-size: 28px;
  }

  .responsive {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: var(--accent-color);
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 999;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsive ul li {
    display: block;
    margin: 20px 0;
  }

  .responsive ul li a {
    color: #fff;
    font-size: 22px;
  }

  .responsive .fa-times {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 25px;
  }

  /* HEADER */
  .header {
    height: auto;
  }

  .header-row {
    flex-direction: column;
    transform: translateY(120px);
    height: auto;
    text-align: center;
  }

  .header-row-left h1 {
    font-size: 28px;
    line-height: 36px;
    width: 100%;
  }

  .header-row-left p {
    width: 100%;
    font-size: 14px;
    text-align: justify;
  }

  .header-row-right img {
    width: 100%;
    margin-top: 20px;
  }

  /* SECTION GLOBAL */
  section {
    display: block;
    height: auto;
    overflow: visible;
    padding: 40px 0;
  }

  /* ABOUT */
  .about-flex {
    flex-direction: column;
    width: 90%;
  }

  .about-flex-left h1 {
    font-size: 32px;
    text-align: center;
  }

  .about-flex-left p {
    width: 100%;
    font-size: 14px;
  }

  .about-flex-right img {
    width: 160px;
    margin: 20px auto 0;
    display: block;
  }

  /* EVENTS */
  .events-container h1 {
    font-size: 32px;
    text-align: center;
  }

  table {
    width: 95%;
    font-size: 10px;
  }

  th, td {
    padding: 8px;
  }

  /* MEMBERS */
  .members-info h1 {
    font-size: 32px;
  }

  .members-info p {
    font-size: 12px;
  }

  .profile-wrapper {
    width: 45%;
    padding: 10px;
  }

  .profile-wrapper img {
    width: 60px;
  }

  .profile-wrapper h3 {
    font-size: 11px;
  }

  /* BTS */
  .bts-container h1 {
    font-size: 32px;
    text-align: center;
  }

  .bts-container video {
    width: 100%;
  }

  /* MESSAGE */
  .message-flex {
    flex-direction: column-reverse;
    width: 90%;
  }

  .message-text h1 {
    font-size: 32px;
  }

  .message-input h4 {
    font-size: 14px;
  }

  /* FOOTER */
  footer {
    font-size: 10px;
    height: auto;
    padding: 15px;
  }
}
/* Tablet Devices */
@media screen and (min-width: 481px) and (max-width: 820px) {
  .logo img {
    width: 30px;
  }

  .navlink {
    padding: 2px 7%;
    z-index: 1;
    width: 100%;
  }

  .navlink ul li {
    padding: 5px;
  }

  .navlink ul li a {
    font-size: 13px;
  }

  .join {
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--accent-color);
    padding: 7px 12px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
    font-size: 10px;
  }

  .header-row {
    transform: translateY(150px);
    height: 60%;
    align-items: center;
    flex-direction: column;
  }

  .header-row-left h1,
  .header-row-left p {
    width: 100%;
    text-align: center;
  }

  .header-row-right {
    width: 100%;
    margin: auto;
  }

  .header-row-right img {
    width: 90%;
  }

  .header-row-left .header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-flex {
    flex-direction: column;
    align-items: center;
  }

  .about-flex-left h1,
  .about-flex-left p {
    width: 100%;
  }

  .about-flex-right {
    margin: auto;
  }

  .about-flex-right img {
    margin-top: 0px;
    width: 17rem;
    float: inline-end;
  }

  .events-container {
    width: 100%;
  }

  .events-container h1 {
    text-align: center;
    width: 85%;
  }

  .events-container p {
    width: 85%;
    font-size: 10px;
    text-align: center;
  }

  .events-container {
    width: 100%;
  }

  thead {
    background-color: var(--accent-color);
    color: #fff;
  }

  th {
    font-weight: 300;
    font-size: 10px;
  }

  table tbody tr:nth-of-type(even) {
    background-color: rgb(238, 238, 238);
  }

  th,
  td {
    padding: 10px 10px;
  }

  td {
    padding: 10px 10px;
    font-size: 8px;
  }

  .profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
    padding: 10px;
  }

  .profile-wrapper img {
    border: 2px solid var(--accent-color);
    padding: 2px;
    width: 70px;
    border-radius: 100%;
  }

  .profile-wrapper h3 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 10px;
    width: 100%;
  }

  .profile-wrapper .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .profile-wrapper i {
    font-size: 10px;
    color: var(--accent-color);
    border-radius: 100%;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  .message-flex {
    flex-direction: column-reverse;
  }

  .message-form {
    padding: 0;
    padding-bottom: 15px;
  }

  .message-img img {
    width: 100%;
    align-self: flex-end;
  }
}
